// Theme Colours
$background: #f9f9f9;
$panel: #ebebeb;
$panel-border: #999;
$text: black;
$active: #bcbcbc;

$primary: darken(#428bca, 6.5%); // #337ab7
$success: #5cb85c;
$info: #5bc0de;
$warning: #f0ad4e;
$danger: #d9534f;


$sm-mb: 320px;
$md-mb: 375px;
$lg-mb: 425px;
$tab: 768px;
$sm-desk: 1024px;
$lg-desk: 1440px;
$xl-desk: 2560px;

$border-radius: 5px;
$panel-min-height: 48px;